<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ryan Hornik</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans" rel="stylesheet" type="text/css"/>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Ryan Hornik</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="http://www.github.com/ryanhornik/">GitHub</a></li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Resume<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>HTML</li>
                                <li>DOCX</li>
                                <li>PDF</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        {{ body_content }}
    </div>
</body>
</html>